[Desktop Entry]
Encoding=UTF-8
Name=Link to An Overview of RMI Applications (The Java™ Tutorials > RMI)
Type=Link
URL=http://docs.oracle.com/javase/tutorial/rmi/overview.html
Icon=text-html
