[Desktop Entry]
Encoding=UTF-8
Name=Link to Java remote method invocation - Wikipedia, the free encyclopedia
Type=Link
URL=https://en.wikipedia.org/wiki/Java_remote_method_invocation
Icon=text-html
